MIDASOFT_LOGIN_URL=https://opepermoda.midasoft.co/NGMidasoft/login/10
MIDASOFT_CONSULTAS_ADMIN_URL=https://opepermoda.midasoft.co/NGMidasoft/consultas-admin
MIDASOFT_USERNAME=
MIDASOFT_PASSWORD=
MIDASOFT_ADMIN_PASSWORD=
MIDASOFT_QUERY=Select top 5 * from EMP
EVIDENCE_ANALYST=Andres Giovanni Martinez Merchan
